[submodule "appc/omz/custom/plugins/zsh-syntax-highlighting"]
	path = appc/omz/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "appc/omz/custom/plugins/zsh-autosuggestions"]
	path = appc/omz/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "3rdparty/FFmpeg"]
	path = 3rdparty/FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "3rdparty/OpenCV"]
	path = 3rdparty/OpenCV
	url = git@github.com:opencv/opencv.git
[submodule "3rdparty/OpenCVContrib"]
	path = 3rdparty/OpenCVContrib
	url = git@github.com:opencv/opencv_contrib.git
