alias v=vim
alias vi=vim
alias say=spd-say
alias a=annal
alias t=tmux

alias kubectx='kubectl config use-context '

alias icat='kitty +kitten icat'
alias s='kitten ssh'
alias d='kitten diff'

if [ $(type exa >/dev/null 2>&1; echo $?) -eq 0 ]; then
    alias lss='exa --icons -F -H --group-directories-first --git'
fi

alias e='exit'
