# Rime custom settings
# encoding: utf-8
patch:
  # 修改输入模式列表
  schema_list:
    - schema: "ahaooahaz_pinyin_simp"
      #- schema: "double_pinyin_flypy"
  switcher:
    # 修改设置菜单标题
    caption: "【设置菜单】"
    # 用半角作为设置菜单中的分隔符
    option_list_separator: "/"
    # 只保留F4为打开设置菜单
    hotkeys:
      - Control+F4
    # 仅显示开关首字，如"全角"只显示"全"
    abbreviate_options: false

  # 可用的按鍵有 Caps_Lock, Shift_L, Shift_R, Control_L, control_R
  # inline_ascii: 在输入法的临时英文编辑区内输入字母、数字、符号、空格等，回车上屏后自动复位到中文
  # commit_code: 已输入的编码字符上屏并切换至西文输入模式
  # commit_text: 已输入的候选文字上屏并切换至西文输入模式
  # clear: 丢弃已输入的内容并切换至西文输入模式
  # noop: 屏蔽该切换键
  ascii_composer/switch_key:
    Caps_Lock: clear
    Shift_L: commit_code
    Shift_R: noop
    Control_L: noop
    control_R: noop
  # 设置候选字符为7
  menu/page_size: 7

  recognizer:
    patterns:
      # 出现认为是email解析不再出现中文候选
      email: "^[A-Za-z][-_.0-9A-Za-z]*@.*$"
      # 如果以大写字母开头，后面字符不再找字典里中文了，不出候选了，这时空格与回车上屏字符相同
      uppercase: "[A-Z][-_+.'0-9A-Za-z]*$"
      # 符合下列规则就当成一个url，不再找字典中文
      url: "^(www[.]|https?:|ftp[.:]|mailto:|file:).*$|^[a-z]+[.].+$"

  punctuator/full_shape:
    ' ' : { commit: '　' }
    ',' : { commit: ， }
    '.' : { commit: 。 }
    '<' : [ 《, 〈, «, ‹ ]
    '>' : [ 》, 〉, », › ]
    '/' : [ ／, ÷ ]
    '?' : { commit: ？ }
    ';' : { commit: ； }
    ':' : { commit: ： }
    '''' : { pair: [ '‘', '’' ] }
    '"' : { pair: [ '“', '”' ] }
    '\' : [ 、, ＼ ]
    '|' : [ ·, ｜, '§', '¦' ]
    '`' : ｀
    '~' : ～
    '!' : { commit: ！ }
    '@' : [ ＠, ☯ ]
    '#' : [ ＃, ⌘ ]
    '%' : [ ％, '°', '℃' ]
    '$' : [ ￥, '$', '€', '£', '¥', '¢', '¤' ]
    '^' : { commit: …… }
    '&' : ＆
    '*' : [ ＊, ·, ・, ×, ※, ❂ ]
    '(' : （
    ')' : ）
    '-' : －
    '_' : ——
    '+' : ＋
    '=' : ＝
    '[' : [ 「, 【, 〔, ［ ]
    ']' : [ 」, 】, 〕, ］ ]
    '{' : [ 『, 〖, ｛ ]
    '}' : [ 』, 〗, ｝ ]
  punctuator/half_shape:
    ',' : '，'
    '.' : '。'
    '<' : '《'
    '>' : '》'
    '/' : '/'
    '?' : '？'
    ';' : '；'
    ':' : '：'
    '''' : { pair: [ '‘', '’' ] }
    '"' : { pair: [ '“', '”' ] }
    '\' : '、'
    '|' : '|'
    '`' : '`'
    '~' : '~'
    '!' : '！'
    '@' : '@'
    '#' : '#'
    '%' : '%'
    '$' : '¥'
    '^' : '……'
    '&' : '&'
    '*' : '*'
    '(' : '（'
    ')' : '）'
    '-' : '-'
    '_' : ——
    '+' : '+'
    '=' : '='
    '[' : '【'
    ']' : '】'
    '{' : '「'
    '}' : '」'

  # Lua 配置: 以词定字（上屏当前词句的第一个或最后一个字），和中括号翻页有冲突
  key_binder/select_first_character: "bracketleft"
  key_binder/select_last_character: "bracketright"
  key_binder/bindings:
    # Tab / Shift+Tab 切换光标到下/上一个拼音
    - { when: composing, accept: Shift+Tab, send: Shift+Left }
    - { when: composing, accept: Tab, send: Right }

    # 使用Enter上屏选中的文字
    - { when: has_menu, accept: Return, send: space }

    # 使用'- ='上下翻页
    - { when: has_menu, accept: minus, send: Page_Up }
    - { when: has_menu, accept: equal, send: Page_Down }

    # 选词时，通过ctrl+hjkl移动选词
    - { when: "composing", accept: "Control+k", send: "Up" }
    - { when: "composing", accept: "Control+j", send: "Down" }
    - { when: "composing", accept: "Control+h", send: "Left" }
    - { when: "composing", accept: "Control+l", send: "Right" }

