alias v=vim
alias vi=vim
alias say=spd-say
alias a=annal
alias t=tmux

alias kubectx='kubectl config use-context '

alias jt='annal jt'
alias todo='annal todo'

alias wr='annal words remb'
alias wc='annal words check'