set -a # active in shell script
# proxy polipo with sock5
function proxy() {
    case $1 in
    on)
        export no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com"
        export http_proxy="http://127.0.0.1:8123"
        export https_proxy=$http_proxy
        export ftp_proxy=$http_proxy
        export rsync_proxy=$http_proxy
        export HTTP_PROXY=$http_proxy
        export HTTPS_PROXY=$http_proxy
        export FTP_PROXY=$http_proxy
        export RSYNC_PROXY=$http_proxy
    ;;
    off)
        unset no_proxy
        unset http_proxy
        unset https_proxy
        unset ftp_proxy
        unset rsync_proxy
        unset HTTP_PROXY
        unset HTTPS_PROXY
        unset FTP_PROXY
        unset RSYNC_PROXY
    ;;
    -h|--help)
        cat << EOF
Usage: ${0##*/} [-h|--help]
    -h|--help   show help
    on          proxy enable
    off         proxy disable
EOF
    ;;
    *)
        proxy on
        $@
        proxy off
    ;;
    esac
}

function skiplfs() {
    case $1 in
    on)
        export GIT_LFS_SKIP_SMUDGE=1
    ;;
    off)
        unset GIT_LFS_SKIP_SMUDGE
    ;;
    *)
        cat << EOF
Usage: ${0##*/} [-h|--help]
    on  "git modules skip lfs files"
    off "git modules not skip lfs files"
EOF
    ;;
    esac
}

function rand() {
    min=$1
    max=$(($2-$min+1))
    num=$(($RANDOM+1000000000))
    echo $(($num%$max+$min))
}

set +a

if [ -f ${HOME}/.annalrc ]; then
    source ${HOME}/.annalrc
fi

export PATH="/opt/hisi-linux/x86-arm/aarch64-himix100-linux/bin:$HOME/.local/bin:$HOME/.local/go/bin:$HOME/dev/go/bin:$HOME/.local/cmake/cmake-3.6.1/bin:$HOME/.local/protobuf/protobuf-3.17.3/bin:$HOME/.local/OpenCV/OpenCV-4.5.4/bin:$HOME/.local/node/node-v14.17.6/bin:$HOME/.local/keshub/2.0.6/keshub:$HOME/.local/FFmpeg/FFmpeg-n4.4/bin:$ANNAL_ROOT_PATH/bin:$PATH"
export LD_LIBRARY_PATH="$HOME/.local/FFmpeg/FFmpeg-n4.4/lib:$HOME/.local/protobuf/protobuf-3.17.3/lib:$HOME/.local/OpenCV/OpenCV-4.5.4/lib:$HOME/.local/node/node-v14.17.6/lib:$HOME/.local/cJSON/cJSON-1.7.15/lib:$LD_LIBRARY_PATH"
export C_INCLUDE_PATH="$HOME/.local/OpenCV/OpenCV-4.5.4/include:$HOME/.local/FFmpeg/FFmpeg-n4.4/include:$HOME/.local/protobuf/protobuf-3.17.3/include:$HOME/.local/node/node-v14.17.6/include:$HOME/.local/cJSON/cJSON-1.7.15/include:$C_INCLUDE_PATH"
export CPLUS_INCLUDE_PATH=$C_INCLUDE_PATH
export LIBRARY_PATH=$LD_LIBRARY_PATH
export GOPATH="$HOME/dev/go"
#export DOCKER_CLI_EXPERIMENTAL=enabled # 启动docker buildx
export LUA_LOCAL_PATH=$HOME/.luarocks
export LUA_PATH="$LUA_LOCAL_PATH/share/lua/5.1/?.lua;$LUA_LOCAL_PATH/share/lua/5.1/?/?.lua;;"
export GPG_TTY=$(tty)
export GIT_EDITOR=vim
export EDITOR=vim

if [ -f ${HOME}/.inti_envrc ]; then
    source ${HOME}/.inti_envrc
fi
